<!DOCTYPE <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Notemaster Training VueJS App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="http://davidtkatz.com/public_css/noteMaster.css" />
</head>

<body>
  <div id="app">
    <h3>{{title}}</h3>
    <div class="form">
      <div class="form">
        <div class="form-group">
          <div class="form-group">
            <label>Note Title</label>
            <input class="form-control" type="text" v-model="note.title">
          </div>
          <div class="form-group">
            <label>Note Text</label>
            <textarea class="form-control" v-model="note.text"></textarea>
          </div>
        </div>
        <button class="btn btn-primary" @click="addNote">Submit</button>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4 note" v-for="(note, index) in notes">
          <div class="card">
            <button class="close" @click="removeNote(index)">&times;</button>
            <div class="card-block">
              <h4 class="card-title">{{note.title}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{note.date}}</h6>
              <p class="card-text">{{note.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    let app = new Vue({
      el: '#app',
      components: {
      },
      data: {
        title: 'Notemaster',
        note: {
          title: '',
          text: ''
        },
        notes: [
          {
            title: 'Primeira Nota',
            text: 'Primeira nota de teste',
            date: new Date(Date.now()).toLocaleString()
          }
        ]
      },
      methods: {
        addNote() {
          let { text, title } = this.note
          this.notes.push({ text, title, date: new Date(Date.now()).toLocaleString() })
        },
        removeNote(index) {
          this.notes.splice(index, 1)
        }
      },
      computed: {
      },
      created() {
      },
      mounted() {
      },
      updated() {
      }
    });
  </script>
</body>

</html>